/* .avatar-big{
    height: 100px;
    width: 100px;
} */ 
 * {
background: url("../images/gry.jpeg");

color: black;
font-family: 'Montserrat', sans-serif;
}
.btn {
    background: black;
    color: white;
    border: solid;
}




/* 
body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */